<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="">
			<div class="header">
				<div class="nav">
					<h1><a href="">淘票票</a></h1>
					<div class="nav-list">
						<ul class="nav-content">
							<li><a href="">哈尔滨</a></li>
							<li><a href="">首页</a></li>
							<li><a href="">影片</a></li>
							<li><a href="">影院</a></li>
							<li><a href="/userAction/houTaiDengLu">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
					<div class="nav-right">
						<ul>
							<li><img src="/img/keFu.png" alt="" /><a href="">客服资讯</a></li>
							<li><img src="/img/shouji.png" alt="" /><a href="">手机购买</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="swiper-container main" id="lunBo1">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href=""><img src="/img/1.jpg"/></a>
					</div>
					<div class="swiper-slide">
						<a href=""><img src="/img/1.jpg"/></a>
					</div>
					<div class="swiper-slide">
						<a href=""><img src="/img/1.jpg"/></a>
					</div>
				</div>
				<div class="swiper-pagination" id="pag1"></div>
				<div class="swiper-button-prev swiper-button-white" id="prevBtn"></div>
				<div class="swiper-button-next swiper-button-white" id="nextBtn"></div>
			</div>
			<div class="main-content">
				<div class="main-left">
					<a href="">正在热映</a>
					<a href="" style="margin-left: 15px;">即将上映</a>
					<div class="main-right">
						<a href="">查看全部></a>
					</div>
				</div>
			</div>
			<div class="movie">
				<div>
					<a href="/movieAction/xiangQingPage"><img src="/img/zhanlang2.jpg" alt="" style="width:160px;height:215px;"/></a>
					<p class="xuanZuoGouPiao"><a href="#" class="anNiuYanSe">选座购票</a></p>
				</div>
				<div>
					<img src="/img/sanshengsanshi.jpg" alt="" style="width:160px;height:215px;"/>
					<p class="xuanZuoGouPiao"><a href="#" class="anNiuYanSe">选座购票</a></p>
				</div>
				<div>
					<img src="/img/xinlizui.jpg" alt="" style="width:160px;height:215px;"/>
					<p class="xuanZuoGouPiao"><a href="#" class="anNiuYanSe">选座购票</a></p>
				</div>
				<div>
					<img src="/img/xiadaolianmeng.jpg" alt="" style="width:160px;height:215px;"/>
					<p class="xuanZuoGouPiao"><a href="#" class="anNiuYanSe">选座购票</a></p>
				</div>
				<div>
					<img src="/img/jianjundaye.jpg" alt="" style="width:160px;height:215px;"/>
					<p class="xuanZuoGouPiao"><a href="#" class="anNiuYanSe">选座购票</a></p>
				</div>
			</div>
			<div class="main-tu">
				<div class="step123">
					<img src="/img/step123.png"/>
				</div>
			</div>
			<div class="content-list">
				<div class="content col-md-6 left">
					<h4>
						<span class="daXiao">上周票房排行</span>
						<a href="" class="more">全部影片></a>
					</h4>
					<div class="dx" id="dx">
						<ul>
							<li class="dx-1">
								<i class="i-1"></i>
								<a href="" class="name">战狼2</a>
								<span>9.6</span>
							</li>
							<li class="dx-1">
								<i class="i-2"></i>
								<a href="" class="name">三生三世十里桃花</a>
								<span>6.9</span>
							</li>
							<li class="dx-1">
								<i class="i-3"></i>
								<a href="" class="name">三国演义</a>
								<span>10.0</span>
							</li>
							<li class="dx-1">
								<i class="i-4"></i>
								<a href="" class="name">神探狄仁杰</a>
								<span>9.8</span>
							</li>
							<li class="dx-1">
								<i class="i-5"></i>
								<a href="" class="name">建军大业</a>
								<span>9.8</span>
							</li>
						</ul>
					</div>
					<div class="dxdx" id="dxdx">
						<span class="buynow"><a href="" class="buy"><img src="/img/zhanLangXiaoTu.jpg"/>选坐购票</a></span>
						<span class="buynow"><a href="" class="buy"><img src="/img/zhanLangXiaoTu.jpg"/>选坐购票</a></span>
						<span class="buynow"><a href="" class="buy"><img src="/img/zhanLangXiaoTu.jpg"/>选坐购票</a></span>
						<span class="buynow"><a href="" class="buy"><img src="/img/zhanLangXiaoTu.jpg"/>选坐购票</a></span>
						<span class="buynow"><a href="" class="buy"><img src="/img/zhanLangXiaoTu.jpg"/>选坐购票</a></span>
					</div>
				</div>
				<div class="content col-md-6 right">
					<h4>
						<span class="daXiao">热门影院排行</span>
						<a href="" class="more">全部影院></a>
					</h4>
					<ul>
						<li>
							<i class="i-1"></i>
							<a href="" class="name">恒大影城(哈尔滨绿洲店)</a><br />
							<span class="miaoShu">松北区中源大道6611号恒大绿洲影城3层</span>
							<span class="xuanZuo"><a href="">选坐</a></span>
						</li>
						<li>
							<i class="i-2"></i>
							<a href="" class="name">哈尔滨嘉纳影城（道外店）</a>
							<span class="miaoShu">道外区南勋街347号</span>
							<span class="xuanZuo"><a href="">选坐</a></span>
						</li>
						<li>
							<i class="i-3"></i>
							<a href="" class="name">哈尔滨工人文化宫影城</a>
							<span class="miaoShu">南岗区中山路248号</span>
							<span class="xuanZuo"><a href="">选坐</a></span>
						</li>
						<li>
							<i class="i-4"></i>
							<a href="" class="name">艾美国际巨幕影城（哈尔滨西城红场店）</a>
							<span class="miaoShu">南岗区哈西大街299号红博西城红场购物中心5层</span>
							<span class="xuanZuo"><a href="">选坐</a></span>
						</li>
						<li>
							<i class="i-5"></i>
							<a href="" class="name">哈尔滨皇诚影城</a>
							<span class="miaoShu">呼兰区学院路泓林金色地标10栋19、20门</span>
							<span class="xuanZuo"><a href="">选坐</a></span>
						</li>
						<li>
							<i class="i-5"></i>
							<a href="" class="name">CGV星聚汇影城（哈尔滨会展中心店）</a>
							<span class="miaoShu">南岗区红旗大街339号（红博中央公园内，冠军冰场旁）</span>
							<span class="xuanZuo"><a href="">选坐</a></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="footKuang">
				<div class="footer clearfix" id="footWrap">
					<div class="logo">
						<div class="tpp">
							<a href="#"><img src="/img/taoPiaoPiao.png"></a><br/>
							<br/>
							<span class="keFu">客服热线</span><br/>
							<span class="dianHua">0571-88157838</span>
						</div>
						<dl>
							<dt>选座购票流程</dt>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">选择影片和场次</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">选择中意的座位</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">支付并收到取票短信</a>
							</dd>
						</dl>
						<dl>
							<dt>取票流程</dt>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">收到取票短信</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">影院自助取票</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">短信重发方式</a>
							</dd>
						</dl>
						<dl>
							<dt>常见问题</dt>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">是否支持退换票</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">填错手机号怎么办</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">更多问题&gt;&gt;</a>
							</dd>
						</dl>
						<dl>
							<dt>协议规范</dt>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">用户服务协议</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">食品管理规范</a>
							</dd>
						</dl>
						<div class="erWeiMa">
							<img src="/img/erWeiMa.png"/>
						</div>
					</div>
					<div class="fenGeXian">
						<p>....................................................................................................................................................................................................................................................................................................................................................................</p>
					</div>
					<div class="albb">
						<div class="footer-ali">
							<a href="">阿里巴巴集团</a>
							<b>|</b>
							<a href="">阿里巴巴国际站</a>
							<b>|</b>
							<a href="">阿里巴巴中国站</a>
							<b>|</b>
							<a href="">全球速卖通</a>
							<b>|</b>
							<a href="">淘宝网</a>
							<b>|</b>
							<a href="">天猫</a>
							<b>|</b>
							<a href="">聚划算</a>
							<b>|</b>
							<a href="">一淘</a>
							<b>|</b>
							<a href="">阿里妈妈</a>
							<b>|</b>
							<a href="">阿里云计算</a>
							<b>|</b>
							<a href="">云OS</a>
							<b>|</b>
							<a href="">万网</a>
							<b>|</b>
							<a href="">中国雅虎</a>
							<b>|</b>
							<a href="">支付宝</a>
						</div>
						<div class="foot-nav">
							<a href="">关于淘宝</a>
							<a href="">合作伙伴</a>
							<a href="">营销中心</a>
							<a href="">联系客服</a>
							<a href="">开放平台</a>
							<a href="">诚征英才</a>
							<a href="">联系我们</a>
							<a href="">网站地图</a>
							<a href="">法律声明</a>
							<span>&copy; 2017 Taopiaopiao.com 版权所有 沪B2-20170117 沪ICP备16050036号-1</span>
						</div>
					</div>
					<div class="jiQiRen">
						<img src="/img/jiQiRen.png" alt=""/>
					</div>
				</div>
			</div>
		</div>
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
