<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="">
			<div class="header">
				<div class="nav">
					<h1><a href="">淘票票</a></h1>
					<div class="nav-list">
						<ul class="nav-content">
							<li><a href="">哈尔滨</a></li>
							<li><a href="">首页</a></li>
							<li><a href="">影片</a></li>
							<li><a href="">影院</a></li>
						</ul>
					</div>
					<div class="nav-right">
						<ul>
							<li><a href=""><img src="/img/keFu.png"/>客服资讯</a></li>
							<li><a href=""><img src="/img/shouji.png" alt="" />手机购买</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="jianJieWrap">
				<div class="jianJie">
					<h3 class="content-title">战狼2</h3>
					<i>(Wolf Warriors ‖)</i>
					<em class="score">9.6</em>
				</div>
				<div class="cont-main">
					<div class="cont-pic">
						<img src="/img/xiangQing.jpg"/>
					</div>
					<ul class="cont-info">
						<li class="comment">
							<em class="quot">“</em>
							犯我中华者虽远必诛
							<em class="quot">”</em>
						</li>
						<li>导演：吴京</li>
						<li>主演：吴京,弗兰克·格里罗,卢靖姗,吴刚,张翰</li>
						<li>类型：动作,战争</li>
						<li>制片国家/地区：中国大陆</li>
						<li>语言：汉语普通话</li>
						<li>片长：123分钟</li>
						<li>剧情介绍：冷锋（吴京 饰）突然被卷入了一场非洲国家叛乱，本可以安全撤离，却因无法忘记曾经为军人的使命，孤身犯险冲回沦陷区，带领身陷屠杀中的同胞和难民，展开生死逃亡。</li>
					</ul>
					<div class="cont-time">
						上映时间：2017-07-27
					</div>
					<div class="cont-view">
						<a href="" class="cont-right1">
							<img src="/img/jianJieRight.jpg"/>
							<span>20</span>
						</a>
						<a href="" class="cont-right1">
							<img src="/img/jianJieRight2.jpg" style="width: 160px;height: 110px;"/>
							<s></s>
							<span>10</span>
						</a>
					</div>
				</div>
			</div>
			<div class="title-wrap">
				<div class="content-wrap">
					<h3>选坐购票</h3>
				</div>
			</div>
			<div class="xuanZuoGouPiaoQu">
				<div class="filter-wrap">
					<div class="center-wrap">
						<ul class="diQu">
							<li>
								<label for="">选择区域</label>
								<div class="quYu">
									<a href="" class="current">全部区域</a>
									<a href="">阿城区</a>
									<a href="">道里区</a>
									<a href="">道外区</a>
									<a href="">方正县</a>
									<a href="">呼兰区</a>
									<a href="">南岗区</a>
									<a href="">平房区</a>
									<a href="">尚志市</a>
									<a href="">双城市</a>
									<a href="">松北区</a>
									<a href="">五常市</a>
									<a href="">香坊区</a>
								</div>
							</li>
							<li>
								<label for="">选择影城</label>
								<div class="quYu" style="height: 297px;max-height: 297px;">
									<a href="" class="current">万达影城(哈尔滨阿城达仁店)</a>
									<a href="">恒大影城(哈尔滨阿城恒大城店)</a>
									<a href="">七彩影城(哈尔滨爱建店)</a>
									<a href="">星聚会影城(哈尔滨群力店)</a>
									<a href="">万达影城(哈尔滨中央店)</a>
									<a href="">七彩影城(哈尔滨故乡凯德店)</a>
									<a href="">中影云幕影城(哈尔滨曼哈顿店)</a>
									<a href="">华谊兄弟影城(哈尔滨群力店)</a>
									<a href="">万达影城(哈尔滨群力财富广场店)</a>
									<a href="">哈尔滨金安国际影城</a>
									<a href="">哈尔滨嘉纳影城(道外店)</a>
									<a href="">艾美影城(哈尔滨太平桥店)</a>
								</div>
							</li>
							<li>
								<label for="">选择时间</label>
								<div class="quYu">
									<a href="" class="current">8月8日(今天)</a>
									<a href="">8月9日(周三)</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="yingYuan XiangQing">
				<h4>万达影城（哈尔滨阿城达仁店）</h4>
				地址：阿城区解放大街与会宁路交叉口达仁印象城5层
				<a href="" class="diTu">[地图]</a>
				电话：0451-58854558
				<a href="" class="moreXiangQing">查看影院详情></a>
			</div>
			<div class="shiJianDiDian">
				<table border="" cellspacing="" cellpadding="" class="biaoGe">
					<thead>
						<tr>
							<th class="table-time">放映时间</th>
							<th class="table-type">语言版本</th>
							<th class="table-name">放映厅</th>
							<th class="table-flow">座位情况</th>
							<th class="table-price">现价/影院价（元）</th>
							<th class="table-buy">选座购票</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-time">
								<em class="bold">16:50</em>
								预计18:53散场
							</td>
							<td class="table-type">国语3D</td>
							<td class="table-name">7号厅</td>
							<td class="table-flow">
								<div class="">
									<label for="">宽松</label>
									<span class="jinDuTiao">
										<i style="width: 0.0%;"></i>
									</span>
									<span class="fangDaJing">
										<i class="icon-zoom"></i>
										<div class="view-wrap" style="display: none;">加载失败请刷新再试。</div>
									</span>
								</div>
							</td>
							<td class="table-price">
								<em class="now">38.8</em>
								<del class="old">40.00</del>
							</td>
							<td>
								<a href="" class="xuanZuoAnNiu">选坐购票</a>
							</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="footKuang">
				<div class="footer clearfix" id="footWrap">
					<div class="logo">
						<div class="tpp">
							<a href="#"><img src="/img/taoPiaoPiao.png"></a><br/>
							<br/>
							<span class="keFu">客服热线</span><br/>
							<span class="dianHua">0571-88157838</span>
						</div>
						<dl>
							<dt>选座购票流程</dt>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">选择影片和场次</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">选择中意的座位</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">支付并收到取票短信</a>
							</dd>
						</dl>
						<dl>
							<dt>取票流程</dt>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">收到取票短信</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">影院自助取票</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">短信重发方式</a>
							</dd>
						</dl>
						<dl>
							<dt>常见问题</dt>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">是否支持退换票</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">填错手机号怎么办</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">更多问题&gt;&gt;</a>
							</dd>
						</dl>
						<dl>
							<dt>协议规范</dt>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">用户服务协议</a>
							</dd>
							<dd class="dian">
								<div id="" class="dian-div">
									<img src="/img/foot_dian.png" alt=""/>
								</div>
								<a href="">食品管理规范</a>
							</dd>
						</dl>
						<div class="erWeiMa">
							<img src="/img/erWeiMa.png"/>
						</div>
					</div>
					<div class="fenGeXian">
						<p>....................................................................................................................................................................................................................................................................................................................................................................</p>
					</div>
					<div class="albb">
						<div class="footer-ali">
							<a href="">阿里巴巴集团</a>
							<b>|</b>
							<a href="">阿里巴巴国际站</a>
							<b>|</b>
							<a href="">阿里巴巴中国站</a>
							<b>|</b>
							<a href="">全球速卖通</a>
							<b>|</b>
							<a href="">淘宝网</a>
							<b>|</b>
							<a href="">天猫</a>
							<b>|</b>
							<a href="">聚划算</a>
							<b>|</b>
							<a href="">一淘</a>
							<b>|</b>
							<a href="">阿里妈妈</a>
							<b>|</b>
							<a href="">阿里云计算</a>
							<b>|</b>
							<a href="">云OS</a>
							<b>|</b>
							<a href="">万网</a>
							<b>|</b>
							<a href="">中国雅虎</a>
							<b>|</b>
							<a href="">支付宝</a>
						</div>
						<div class="foot-nav">
							<a href="">关于淘宝</a>
							<a href="">合作伙伴</a>
							<a href="">营销中心</a>
							<a href="">联系客服</a>
							<a href="">开放平台</a>
							<a href="">诚征英才</a>
							<a href="">联系我们</a>
							<a href="">网站地图</a>
							<a href="">法律声明</a>
							<span>&copy; 2017 Taopiaopiao.com 版权所有 沪B2-20170117 沪ICP备16050036号-1</span>
						</div>
					</div>
					<div class="jiQiRen">
						<img src="/img/jiQiRen.png" alt=""/>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
