
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

	<link href="http://localhost:3000/css/changciList.css" rel="stylesheet"></head>

	<body>
		<table class="table" id="a">
			<tr style="background-color:#FAC100; font-size: 26px;color: white";>
				<th><input type="checkbox" id="quanxuan" onclick="quanxuan()">全选</th>				
				<th>电影id</th>
				<th>放映时间</th>
				<th>价格</th>
				<th>放映厅</th>
				<th>操作</th>
			</tr>

		</table>
		<button class="btn btn-danger" onclick="tianjia()">添加场次</button>
		<button class="btn btn-danger" onclick="shanChuManyDianYing()">删除多个场次</button>

	<script type="text/javascript" src="http://localhost:3000/js/changciList.js"></script></body>

</html>
