Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed: Error: ENOENT: no such file or directory, open 'F:\我的项目表\  web4Movie2017.8.11\web4Movie\src\template\houTaiGuanLiYeMian.html':
  Error: ENOENT: no such file or directory, open 'F:\我的项目表\web4Movie2017.8.11\we  b4Movie\src\template\houTaiGuanLiYeMian.html'
  
  - compiler.js:76 
    [web4Movie]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:304 compile
    [web4Movie]/[webpack]/lib/Compiler.js:304:11
  
  - Compiler.js:520 applyPluginsAsync.err
    [web4Movie]/[webpack]/lib/Compiler.js:520:14
  
  - Tapable.js:202 next
    [web4Movie]/[tapable]/lib/Tapable.js:202:11
  
  - CachePlugin.js:62 Compiler.<anonymous>
    [web4Movie]/[webpack]/lib/CachePlugin.js:62:5
  
  - Tapable.js:206 Compiler.applyPluginsAsyncSeries
    [web4Movie]/[tapable]/lib/Tapable.js:206:13
  
  - Compiler.js:517 compilation.seal.err
    [web4Movie]/[webpack]/lib/Compiler.js:517:11
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [web4Movie]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:654 self.applyPluginsAsync.err
    [web4Movie]/[webpack]/lib/Compilation.js:654:19
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [web4Movie]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:645 self.applyPluginsAsync.err
    [web4Movie]/[webpack]/lib/Compilation.js:645:11
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [web4Movie]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:640 self.applyPluginsAsync.err
    [web4Movie]/[webpack]/lib/Compilation.js:640:10
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [web4Movie]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:636 sealPart2
    [web4Movie]/[webpack]/lib/Compilation.js:636:9
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [web4Movie]/[tapable]/lib/Tapable.js:195:46
  
</pre><script type="text/javascript" src="http://localhost:3000/js/houTaiGuanLiYeMian.js"></script>